@model SliderVM
<section class="home-index-slider slider-arrow slider-dots">
    @foreach (var item in Model.Sliders)
    {
        <div class="banner-part banner-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <div class="banner-content">
                            <h1>@item.Title</h1>
                            <p>
                                @item.Descriptiom
                            </p>
                            <div class="banner-btn">
                                <a class="btn btn-inline" href="shop-4column.html">
                                    <i class="fas fa-shopping-basket"></i><span>shop now</span>
                                </a><a class="btn btn-outline" href="offer.html">
                                    <i class="icofont-sale-discount"></i><span>get offer</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="banner-img"><img src="~/images/home/index/@item.Image" alt="index"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
